
    .form-label {
        color: nth($list: $colores, $n :3);
    }

    .map-responsive {
        overflow:hidden;
        padding-bottom:50%;
        position:relative;
        height:0;
    }

    