* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: $font-family_1;
	font-size: 62.5%;
}

h1 {
	color: nth($list: $colores, $n :10);
	text-align: left;
	vertical-align: bottom;
	margin-bottom: 10px;
	margin-top: 10px;
}
h2 {
	color: nth($list: $colores, $n :1);
}


.color-text {
	color: nth($list: $colores, $n :2);
}
.text-centrado {
	padding-top: 20%;
}
#subtitulo {
	color: nth($list: $colores, $n :3);
}
