// Variables 
$color_1: blue;
$color_2: violet;
$color_3: chocolate;
$color_4: #000;
$color_5: #f1f1f1;
$color_6: #fff;
$color_7: rgb(207, 228, 18);
$color_8: rgb(47, 17, 182);
$color_9: yellow;
$color_10: #fa7900;

$colores: blue,
          violet,
          chocolate,
          #000,
          #f1f1f1,
          #fff,
          rgb(207, 228, 18),
          rgb(47, 17, 182),
          yellow,
          #fa7900;

$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Roboto', 'Poppins', sans-serif;
$font-family_3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$background-color_1: rgb(238, 124, 17);
$background-color_2: #000;